/* GLOBAL ANIMATION VARIABLES */
:root {
  --animationDuration: 15s;
  /* node connection line lengths */
  --connection1Length: 49.25514602661133;
  --connection2Length: 17.38884925842285;
  --connection3Length: 28.40348243713379;
  --connection4Length: 18.224576950073242;
  --connection5Length: 43.70258331298828;
  --connection6Length: 43.942108154296875;
  --connection7Length: 15.946442604064941;
  --connection8Length: 19.14971351623535;
  --connection9Length: 37.06856918334961;
}

/* NODE 1 ANIMATIONS */

#client1 {
  animation: client1Flash var(--animationDuration) ease infinite;
}

#hide1 {
  animation: hide1Disappear var(--animationDuration) ease infinite;
}

#connection1 {
  stroke-dasharray: var(--connection1Length);
  stroke-dashoffset: var(--connection1Length);
  animation: connection1Draw var(--animationDuration) ease-in-out infinite;
}

/* NODE 2 ANIMATIONS */

#client2 {
  animation: client2Flash var(--animationDuration) ease infinite;
}

#hide2 {
  animation: hide2Disappear var(--animationDuration) ease infinite;
}

#connection2 {
  stroke-dasharray: var(--connection2Length);
  stroke-dashoffset: var(--connection2Length);
  animation: connection2Draw var(--animationDuration) ease-in-out infinite;
}

/* NODE 3 ANIMATIONS */

#client3 {
  animation: client3Flash var(--animationDuration) ease infinite;
}

#hide3 {
  animation: hide3Disappear var(--animationDuration) ease infinite;
}

#connection3 {
  stroke-dasharray: var(--connection3Length);
  stroke-dashoffset: var(--connection3Length);
  animation: connection3Draw var(--animationDuration) ease-in-out infinite;
}

/* NODE 4 ANIMATIONS */

#client4 {
  animation: client4Flash var(--animationDuration) ease infinite;
}

#hide4 {
  animation: hide4Disappear var(--animationDuration) ease infinite;
}

#connection4 {
  stroke-dasharray: var(--connection4Length);
  stroke-dashoffset: var(--connection4Length);
  animation: connection4Draw var(--animationDuration) ease-in-out infinite;
}

/* NODE 5 ANIMATIONS */

#client5 {
  animation: client5Flash var(--animationDuration) ease infinite;
}

#hide5,
#server4,
#server7 {
  animation: hide5Disappear var(--animationDuration) ease infinite;
}

#connection5 {
  stroke-dasharray: var(--connection5Length);
  stroke-dashoffset: var(--connection5Length);
  animation: connection5Draw var(--animationDuration) ease-in-out infinite;
}

/* NODE 6 ANIMATIONS */

#client6 {
  animation: client6Flash var(--animationDuration) ease infinite;
}

#hide6,
#server8 {
  animation: hide6Disappear var(--animationDuration) ease infinite;
}

#connection6 {
  stroke-dasharray: var(--connection6Length);
  stroke-dashoffset: var(--connection6Length);
  animation: connection6Draw var(--animationDuration) ease-in-out infinite;
}

/* NODE 7 ANIMATIONS */

#client7 {
  animation: client7Flash var(--animationDuration) ease infinite;
}

#hide7,
#server3,
#server6 {
  animation: hide7Disappear var(--animationDuration) ease infinite;
}

#connection7 {
  stroke-dasharray: var(--connection7Length);
  stroke-dashoffset: var(--connection7Length);
  animation: connection7Draw var(--animationDuration) ease-in-out infinite;
}

/* NODE 8 ANIMATIONS */

#client8 {
  animation: client8Flash var(--animationDuration) ease infinite;
}

#hide8,
#server9,
#server5,
#server2,
#server1,
#map {
  animation: hide8Disappear var(--animationDuration) ease infinite;
}

#connection8 {
  stroke-dasharray: var(--connection8Length);
  stroke-dashoffset: var(--connection8Length);
  animation: connection8Draw var(--animationDuration) ease-in-out infinite;
}

/* NODE 9 ANIMATIONS */

#client9 {
  animation: client9Flash var(--animationDuration) ease infinite;
}

#hide9 {
  animation: hide9Disappear var(--animationDuration) ease infinite;
}

#connection9 {
  stroke-dasharray: var(--connection9Length);
  stroke-dashoffset: var(--connection9Length);
  animation: connection9Draw var(--animationDuration) ease-in-out infinite;
}
/* NODE 1 KEYFRAMES */

@keyframes client1Flash {
  0%, 3.33% {
    opacity: 1;
    fill: #20475f;
  }
  6.67%, 13.33% {
    opacity: 1;
    fill: #686d6e;
  }
  20%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
    fill: #20475f;
  }
}

@keyframes hide1Disappear {
  0%, 13.33% {
    opacity: 1;
  }
  20%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}

@keyframes connection1Draw {
  0%, 3.33% {
    stroke-dasharray: var(--connection1Length);
    stroke-dashoffset: var(--connection1Length);
  }
  20%, 100% {
    stroke-dasharray: var(--connection1Length) calc(var(--connection1Length) + 1);
    stroke-dashoffset: calc(var(--connection1Length) * (-1));
  }
}

/* NODE 2 KEYFRAMES */

@keyframes client2Flash {
  0%, 16.67% {
    opacity: 1;
    fill: #20475f;
  }
  20%, 26.67% {
    opacity: 1;
    fill: #686d6e;
  }
  33.33%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
    fill: #20475f;
  }
}

@keyframes hide2Disappear {
  0%, 26.67% {
    opacity: 1;
  }
  33.33%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}

@keyframes connection2Draw {
  0%, 16.67% {
    stroke-dasharray: var(--connection2Length);
    stroke-dashoffset: var(--connection2Length);
  }
  36.67%, 100% {
    stroke-dasharray: var(--connection2Length) calc(var(--connection2Length) + 1);
    stroke-dashoffset: calc(var(--connection2Length) * (-1));
  }
}

/* NODE 3 KEYFRAMES */

@keyframes client3Flash {
  0%, 23.33% {
    opacity: 1;
    fill: #20475f;
  }
  26.67%, 33.33% {
    opacity: 1;
    fill: #686d6e;
  }
  40%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
    fill: #20475f;
  }
}

@keyframes hide3Disappear {
  0%, 33.33% {
    opacity: 1;
  }
  40%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}

@keyframes connection3Draw {
  0%, 23.33% {
    stroke-dasharray: var(--connection3Length);
    stroke-dashoffset: var(--connection3Length);
  }
  43.33%, 100% {
    stroke-dasharray: var(--connection3Length) calc(var(--connection3Length) + 1);
    stroke-dashoffset: calc(var(--connection3Length) * (-1));
  }
}

/* NODE 4 KEYFRAMES */

@keyframes client4Flash {
  0%, 26.67% {
    opacity: 1;
    fill: #20475f;
  }
  30%, 36.67% {
    opacity: 1;
    fill: #686d6e;
  }
  43.33%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
    fill: #20475f;
  }
}

@keyframes hide4Disappear {
  0%, 36.67% {
    opacity: 1;
  }
  43.33%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}

@keyframes connection4Draw {
  0%, 26.67% {
    stroke-dasharray: var(--connection4Length);
    stroke-dashoffset: var(--connection4Length);
  }
  46.67%, 100% {
    stroke-dasharray: var(--connection4Length) calc(var(--connection4Length) + 1);
    stroke-dashoffset: calc(var(--connection4Length) * (-1));
  }
}

/* NODE 5 KEYFRAMES */

@keyframes client5Flash {
  0%, 28% {
    opacity: 1;
    fill: #20475f;
  }
  31.33%, 38.67% {
    opacity: 1;
    fill: #686d6e;
  }
  45.33%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
    fill: #20475f;
  }
}

@keyframes hide5Disappear {
  0%, 38.67% {
    opacity: 1;
  }
  45.33%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}

@keyframes connection5Draw {
  0%, 28% {
    stroke-dasharray: var(--connection5Length);
    stroke-dashoffset: var(--connection5Length);
  }
  48%, 100% {
    stroke-dasharray: var(--connection5Length) calc(var(--connection5Length) + 1);
    stroke-dashoffset: calc(var(--connection5Length) * (-1));
  }
}

/* NODE 6 KEYFRAMES */

@keyframes client6Flash {
  0%, 30.67% {
    opacity: 1;
    fill: #20475f;
  }
  34%, 41.33% {
    opacity: 1;
    fill: #686d6e;
  }
  47.33%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
    fill: #20475f;
  }
}

@keyframes hide6Disappear {
  0%, 41.33% {
    opacity: 1;
  }
  47.33%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}

@keyframes connection6Draw {
  0%, 30.67% {
    stroke-dasharray: var(--connection6Length);
    stroke-dashoffset: var(--connection6Length);
  }
  50.67%, 100% {
    stroke-dasharray: var(--connection6Length) calc(var(--connection6Length) + 1);
    stroke-dashoffset: calc(var(--connection6Length) * (-1));
  }
}

/* NODE 7 KEYFRAMES */

@keyframes client7Flash {
  0%, 32.67% {
    opacity: 1;
    fill: #20475f;
  }
  36%, 43.33% {
    opacity: 1;
    fill: #686d6e;
  }
  49.33%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
    fill: #20475f;
  }
}

@keyframes hide7Disappear {
  0%, 43.33% {
    opacity: 1;
  }
  49.33%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}

@keyframes connection7Draw {
  0%, 32.67% {
    stroke-dasharray: var(--connection7Length);
    stroke-dashoffset: var(--connection7Length);
  }
  52.67%, 100% {
    stroke-dasharray: var(--connection7Length) calc(var(--connection7Length) + 1);
    stroke-dashoffset: calc(var(--connection7Length) * (-1));
  }
}

/* NODE 8 KEYFRAMES */

@keyframes client8Flash {
  0%, 34.67% {
    opacity: 1;
    fill: #20475f;
  }
  38.67%, 46% {
    opacity: 1;
    fill: #686d6e;
  }
  52%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
    fill: #20475f;
  }
}

@keyframes hide8Disappear {
  0%, 46% {
    opacity: 1;
  }
  52%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}

@keyframes connection8Draw {
  0%, 34.67% {
    stroke-dasharray: var(--connection8Length);
    stroke-dashoffset: var(--connection8Length);
  }
  54%, 100% {
    stroke-dasharray: var(--connection8Length) calc(var(--connection8Length) + 1);
    stroke-dashoffset: calc(var(--connection8Length) * (-1));
  }
}

/* NODE 9 KEYFRAMES */

@keyframes client9Flash {
  0%, 35.87% {
    opacity: 1;
    fill: #20475f;
  }
  39.87%, 47.87% {
    opacity: 1;
    fill: #686d6e;
  }
  53.87%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
    fill: #20475f;
  }
}

@keyframes hide9Disappear {
  0%, 47.87% {
    opacity: 1;
  }
  53.87%, 80% {
    opacity: 0;
  }
  90%, 100% {
    opacity: 1;
  }
}

@keyframes connection9Draw {
  0%, 35.87% {
    stroke-dasharray: var(--connection9Length);
    stroke-dashoffset: var(--connection9Length);
  }
  55.87%, 100% {
    stroke-dasharray: var(--connection9Length) calc(var(--connection9Length) + 1);
    stroke-dashoffset: calc(var(--connection9Length) * (-1));
  }
}
