/* UNDERHILL COLOR SCHEME */
:root {
  --uh-blue-darkest: #040F16;
  --uh-blue-dark: #13293D;
  --uh-blue-light: #3A7CA5;
  --uh-blue-lightest: #81C3D7;
  --uh-white: #D9DCD6;
}

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 100 900;
  src: url('./assets/fonts/Exo2-VariableFont_wght.woff2') format('woff2');
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--uh-blue-darkest);
  font-family: 'Exo2';
  overflow: hidden;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
  color: var(--uh-white);
}

/* Medium Screens (Laptops and Desktops) */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem; /* Your original font size for medium screens */
  }
}

/* Small Screens (Tablets) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: 4rem; /* 2/3 of 6rem for tablets (proportional scaling) */
  }
}

/* Extra Small Screens (Phones) */
@media screen and (max-width: 575px) {
  h1 {
    font-size: 3rem; /* 1/2 of 6rem for phones (proportional scaling) */
  }
}

.h-blue {
  color: var(--uh-blue-lightest);
}

.podsContainer {
  display: flex;
  margin-top: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button {
  color: var(--uh-white);
  border: none;
  font-family: 'Exo2';
  font-weight: 600;
}

.btn-big {
  border-radius: 10rem;
  width: 16rem;
  padding: 0.625rem 2.5rem 0.875rem 2.5rem;
  font-size: 1.5rem;
}

.btn-small {
  border-radius: 1rem;
}

.btn-primary {
  background-color: var(--uh-blue-light);
  border: 1px solid var(--uh-blue-light);
}
.btn-primary:hover {
  background-color: var(--uh-blue-dark);
}

.btn-secondary {
  background-color: var(--uh-blue-darkest);
  border: 1px solid var(--uh-white);
}
.btn-secondary:hover {
  border: 1px solid var(--uh-blue-dark);
}
.infoContainer {
  color: var(--uh-white);
}
.blurred-box {
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

/* Small Screens (Tablets) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  button {
    width: 12rem; /* Adjusted width for tablets */
    padding: 0.5rem 2rem 0.75rem 2rem; /* Adjusted padding for tablets */
    font-size: 1rem; /* Adjusted font size for tablets */
  }
}

/* Extra Small Screens (Phones) */
@media screen and (max-width: 575px) {
  button {
    width: 10rem; /* Adjusted width for phones */
    padding: 0.375rem 1.5rem 0.625rem 1.5rem; /* Adjusted padding for phones */
    font-size: 0.75rem; /* Adjusted font size for phones */
  }
}

/* create the svg background */

.body-wrapper {
  position: relative;
  height: 100%;
}

.content-layer {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -55%);
  text-align: center;
}

.background-layer {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
}

.background-layer svg {
  max-height: 98vh;
}

#podStatusContainer {
  display: none;
  padding: 10px;
  width: 100%;
}

#podStatusTable {
  border-collapse: collapse;
  border: 1px solid #ddd;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Optional: adds a subtle shadow for depth */
  width: 25%;
}

#podStatusTable th, #podStatusTable td {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent for headers and cells */
  color: #333;
  font-weight: bold;
  padding: 15px 20px; /* Increased padding for a larger appearance */
  text-align: left; /* Aligns text to the left, can be changed as needed */
  border-bottom: 1px solid #ddd; /* Adds a border to the bottom of each row */
}

/* If you want the table headers to be less transparent than the cells */
#podStatusTable th {
  background-color: rgba(242, 242, 242, 0.9);
}
